* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    align-items: center;
    height: 80px;
    padding-left: 140px;
    padding-right: 140px;
}

.main-header h1{
    color: white;
}

.cart-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(69, 8, 8);
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 40px;
}

.cart-item-count{
    background-color: brown;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

.my-cart-text{
   font-weight: 700;
}

